body {
    font-family: 'Georgia', serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #292626;
}

.promedio {
    width: fit-content;
    margin: 20px auto;
    padding: 10px;
    background-color: #f0f0f0;
    border: 2px solid #007bff;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #007bff
}

.formulario {
    border: 2px solid #007bff;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    background-color: f0f0f0;
    margin-bottom: 20px;
    width: 90%;
    max-width: 400px;
    text-align: left;
}

.formulario div {
    margin-bottom: 15px;
}

.formulario label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.formulario input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

table {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #f2f2f2;
    
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}
